.vscode/**
node_modules/**
src/**
webview/**
behavior3/**
public/**
!public/images/**
**/*.ts
**/*.tsx
**/*.scss
**/*.map
esbuild.js
vite.config.ts
tsconfig*.json
tailwind.config.js
postcss.config.js
.gitignore
.gitmodules
